body {
   background-image: url("BGPale.png");
   background-color: #cccccc;
   background-size: 20%;
}

ul{
  list-style-type: none;
}

.post-list{
  background-color: rgb(255,255,255);
    border-radius: 25px;
}

.header{
  background-color: rgb(255,255,255);

  box-shadow: 5px 7px #8CFF9F;
}

.post{
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 25px;
}
