body {
   background-image: url("BGPale.png");
   background-color: #cccccc;
   background-size: 20%;
}

ul{
  list-style-type: none;
}

.header{
  background-color: rgb(255,255,255);
  box-shadow: 2px 2px 3px #a3a3a3;
}
.post-list{
    padding-left: 0;
    list-style: none;
}
.post{
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 3%;
  box-shadow: 2px 2px 3px #a3a3a3;
}
@media only screen and (max-width: 600px) {
    body {
        background-size: 60%;
    }
    .header{
        display: none;
    }
    .post {
        background-color: white;
    }
}
